@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

:root {
  --offwhite: #F8F9F9;
  --black: black;
  --light-grey: #D7DBDD;
  --dark-grey: #424242;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--offwhite);
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  position: relative;
  line-height: 1.5;
}

body,
html {
  height: 100%;
}

#page-wrapper {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER WITH NAVIGATION SECTION STYLE */

header {
  position: fixed;
  width: 100%;
  min-height: 75px;
  top: 0;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--offwhite);
}

h1 {
  font-size: 1.5em;
  border: 2px solid black;
  padding: 0 10px;
}

nav {
  font-family: 'Bodoni Moda', serif;
}

nav a {
  font-size: 1.2em;
}

nav>ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav>ul>li {
  display: block;
  padding: 5px 10px;
}

nav>ul>li:hover {
  color: var(--offwhite);
  background-color: var(--dark-grey);
}

@media screen and (max-width: 650px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 17px 40px;
  }

  nav {
    margin-top: 17px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
}


/* HERO IMG SECTION STYLE */

.hero {
  display: flex;
  background-image: url(./images/pexels-adrien-olichon-2931290.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: space-around;
  margin-top: 75px;
}

.hero-text {
  text-align: center;
  color: white;
  background-color: rgba(68, 68, 68, .7);
  padding: 2em;
}

.hero-text h2 {
  font-size: 3em;
}

.hero-text p {
  font-size: 1.5em;
  font-family: 'Bodoni Moda', serif;
}

@media screen and (max-width: 650px) {
  .hero {
    margin-top: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    height: 350px;
  }
}

/*
.parallax {
  background-image: url('./images/pexels-adrien-olichon-2931290.jpg');
  height: 50%;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-size: 4.5rem;
  color: var(--offwhite);
}

.hero-desc {
  font-size: 1.5rem;
  font-family: 'Bodoni Moda', serif;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(68, 68, 68, .8);
  padding: 2rem;
}
*/

/* COMMON ELEMENTS STYLING */

main {
  width: 90%;
  margin: auto;
}

section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 30px 0;
  font-size: 1em;
}

.title {
  border-right: 3px solid var(--black);
  font-family: 'Bodoni Moda', serif;
  font-size: 1.75em;
  text-align: right;
  line-height: 1.5;
  padding-right: 20px;
  background-color: aquamarine;
  min-height: 100%;
  min-width: 25%;
  max-width: 25%;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  section {
    flex-direction: column;
  }

  .title {
    border-right: none;
    border-bottom: 3px solid var(--black);
    text-align: left;
    min-width: 100%;
    padding-left: 20px;
  }
}


/* ABOUT SECTION STYLE */

.about img {
  height: 250px;
  border-radius: 15px;
  box-shadow: 7px 7px var(--light-grey);
}

.align-right {
  float: right;
  margin: 15px 20px;
}

.about p {
  padding: 10px 20px;
}

.about button {
  display: block;
  margin: 30px auto 10px auto;
  width: 60%;
  max-width: 200px;
  padding: 8px;
  font-size: 1.25em;
  font-family: 'Bodoni Moda', serif;
  background-color: var(--light-grey);
  border: 2px solid var(--black);
  border-radius: 15px;
}

.about button:hover {
  background-color: var(--dark-grey);
  color: white;
  border: 2px solid var(--dark-grey);
}

@media screen and (max-width: 650px) {
  .about img {
    display: block;
    width: 92%;
    height: 300px;
    object-fit: cover;
    box-shadow: none;
    margin: 15px auto;
  }

  .align-right {
    float: none;
  }
}

/* PORTFOLIO SECTION STYLE */

.portfolio {
  background-color: peru;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  max-width: 1100px;
}

.flex-item {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  width: calc(100% / 2 - 10px);
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid var(--black);
  background-blend-mode: saturation;
}

.flex-item:first-child {
  width: 100%;
}

#featured {
  background-image: linear-gradient(black, black), url(./images/pexels-format-1029757.jpg);
}

#project-two {
  background-image: linear-gradient(black, black), url(./images/pexels-mikechie-esparagoza-1742370.jpg);
}

#project-three {
  background-image: linear-gradient(black, black), url(./images/pexels-pixabay-273230.jpg);
}

#project-four {
  background-image: linear-gradient(black, black), url(./images/pexels-shamia-casiano-944773.jpg);
}

#project-five {
  background-image: linear-gradient(black, black), url(./images/pexels-lee-campbell-115655.jpg);
}


/*IS THERE A BETTER WAY TO DO THIS?*/
.flex-item:hover {
  background-blend-mode: normal;
}

#featured:hover {
  background-image: url(./images/pexels-format-1029757.jpg);
}

#project-two:hover {
  background-image: url(./images/pexels-mikechie-esparagoza-1742370.jpg);
}

#project-three:hover {
  background-image: url(./images/pexels-pixabay-273230.jpg);
}

#project-four:hover {
  background-image: url(./images/pexels-shamia-casiano-944773.jpg);
}

#project-five:hover {
  background-image: url(./images/pexels-lee-campbell-115655.jpg);
}

.label {
  background-color: rgba(248, 249, 249, .7);
  padding: 10px;
}

@media screen and (max-width: 650px) {
  .flex-item {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  #featured {
    background-image: url(./images/pexels-format-1029757.jpg);
  }
  
  #project-two {
    background-image: url(./images/pexels-mikechie-esparagoza-1742370.jpg);
  }
  
  #project-three {
    background-image: url(./images/pexels-pixabay-273230.jpg);
  }
  
  #project-four {
    background-image: url(./images/pexels-shamia-casiano-944773.jpg);
  }
  
  #project-five {
    background-image: url(./images/pexels-lee-campbell-115655.jpg);
  }
}

/* CONTACT SECTION STYLE */

#contact {
  background-color: lightskyblue;
}

.grid-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  max-width: 800px;
}

.grid-item {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 padding: 5px;
 border: 2px solid black;
}

.grid-item p {
  padding: 5px;
  font-size: 1.1em;
  text-align: center;
}

.grid-item label {
padding-bottom: 3px;
}

.grid-item input {
  padding: 3px;
}

.contact-form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  background-color: pink;
}

.contact-form button {
  display: block;
  margin: 0px auto 20px auto;
  width: 80px;
  padding: 2px;
  font-size: 1.1em;
  font-family: 'Bodoni Moda', serif;
  background-color: var(--light-grey);
  border: 2px solid var(--black);
  border-radius: 10px;
  grid-column: span 2;
}

.contact-form button:hover {
  background-color: var(--dark-grey);
  color: white;
  border: 2px solid var(--dark-grey);
}

@media screen and (max-width: 768px) {
  .grid {
    width: 100%;
    max-width: 450px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }
}